/*
 * Global Styles
 */
html{
  font-size: 14px; 
  height: 100%;
}

body{
  color: #bfc1c8;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  height: 100%;
  background: #1e202b;
  margin: 0;
}

h1{
  font-weight: 700;
  margin: 0 0 20px;
  line-height: normal; 
}


ul{
  margin: 0;
  padding-left: 0; 
}

a{
  text-decoration: none;
  color: white;
}

li{
  color: white;
}

p{
  margin-top: 0; 
}

*{
  box-sizing: border-box;
}

/*
 * Multiple Styles
 */
.autocomplete input, button{
  border: none;
  background: #009ad8;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 30px;
}

.empty-content{
  width: 50%;
}

.weather-container{
  margin: 0;
  text-align: center;
}
/*
 * Header Styles
 */
.header {
  position: relative;
  height: 10vh; 
}

.header .main {
  float: left; 
  height: inherit;
  position: absolute;
  top: 0;
}

.header .logo, .header .logo-image {
  display: inline-block;
  vertical-align: middle; 
}

.header .title {
  margin-bottom: 5px;
  font-size: 16px;
  font-size: 1.1428571429em;
  color: white; 
}
.header .desc{
  font-size: 10px;
  font-size: 0.7142857143em;
  display: block;
  color: #bfc1c8; 
}

.mainPage{
  position:relative;
  height: 100vh;
}
/* 
 * Enter City Styles 
*/
.city{
  background-image: url("./images/clouds.jpg");
  background-size: cover;
  height: 90vh;
  width: 100%;
  position: relative;
  min-height: 350px;
}

.autocomplete{
  display: flex;
  flex-direction: column;
}

.autocomplete-list{
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  color: black;
  z-index: 99;
  top: 7.9rem;
  left: 0;
  right: 0;
}

.autocomplete-list div{
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-list div:hover{
  background-color: #e9e9e9;
}

#history {
  float: right;
  margin: 10px 20px; 
  color: black;
}

#rememberMe {
  float: right;
  margin-top: 2rem;
  margin-right: 2rem;
}

.autocomplete input[type="text"] {
  position: absolute;
  top: 3rem;
  width: 100%;
  background: #1e202b;
  color: white; 
  height: 4rem;
}

.autocomplete #getWeather {
  position: absolute;
  top: 3.2rem;
  right: 0.2rem;
  bottom: 5px;
  padding: 0 40px;
  height: 50px; 
}

.autocomplete #getForecast {
  position: absolute;
  top: 3.2rem;
  right: 12rem;
  bottom: 5px;
  padding: 0 40px;
  height: 50px; 
}

/* 
 * BOX - section b 
*/

#errorText{
  color: rgb(88, 0, 0);
  font-size: 1.5rem;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 1rem;
  left: 1rem;
}

.outside-container{
  display: flex;
  justify-items: center;
  position: absolute;
  top: 9rem;
  right: 0;
  left: 0;
}

#weather-container p:first-child{
  font-size: 2rem;
} 

#weather-container p:nth-child(2){
  font-size: 1.5rem;
} 

#weather-container p:nth-child(3){
  font-size: 1.2rem;
} 

#weather-container {
  display: flex;
  color: white;
  flex-direction: column;
  min-width: 280px;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  visibility: hidden;
  min-height: 15rem;
  background: #323544;
  width: 100%;
  border-radius: 10px;
}

#weatherData{
  border-collapse: collapse;
  width: 60%;
}

#weatherData, td{
  border: 2px solid black;
  font-size: 1.3rem;
  padding: 8px;
}

.container{
  position: absolute;
  bottom: 5.2rem;
  left: 32%;
  right: 32%;
  width: auto;
}

td a{
  color: rgb(140, 140, 255);
}

#location{
  margin-bottom: 0.5rem;
}

#temperature{
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}

#temperature img{
  width: 3rem;
  height: auto;
}

#temperature strong{
  align-self: center;
}
 
/*
 * Footer Styles
 */
.footer {
  background: #262936;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer .copyright{
  width: 100%;
  color: white;
  margin: 0; 
}

.copyright a{
  color: rgb(140, 140, 255);
  text-decoration: underline;
}