/*
 * Global Styles
 */
html{
  font-size: 14px; 
}

body{
  color: #bfc1c8;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  background: #1e202b;
  margin: 0;
}

h1{
  font-weight: 700;
  margin: 0 0 20px;
  line-height: normal; 
}


ul{
  margin: 0;
  padding-left: 0; 
}

a{
  text-decoration: none;
  color: white;
}

li{
  color: white;
}

p{
  margin-top: 0; 
}

form input{
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 30px; 
}

*{
  box-sizing: border-box;
}

/*
 * Multiple Styles
 */
.button, form input{
  border: none;
  background: #009ad8;
  padding: 10px 20px;
  border-radius: 30px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*
 * Header Styles
 */
.site-header {
  padding: 50px 0; 
}
.site-header .branding {
  float: left; 
}
.site-header .logo, .site-header .logo-type {
  display: inline-block;
  vertical-align: middle; 
}
.site-header .logo {
  margin-right: 10px; 
}
.site-header .site-title {
  margin-bottom: 5px;
  font-size: 16px;
  font-size: 1.1428571429em;
  color: white; 
}
.site-header .site-description {
  font-size: 10px;
  font-size: 0.7142857143em;
  display: block;
  color: #bfc1c8; 
}

.main-navigation {
  float: right; 
}
.main-navigation .menu-toggle {
  display: none;
  outline: none; 
}
.main-navigation .menu {
  list-style: none; 
}

@media screen and (max-width: 990px) {
  .main-navigation .menu {
    display: none; 
  } 
}
.main-navigation .menu .menu-item {
  float: left;
  margin-left: 10px; 
}
.main-navigation .menu .menu-item .menu-item a {
  padding: 5px 15px;
  color: white;
  font-weight: 400;
}

/* 
 * Enter City Styles 
*/
.enter-name {
  background-image: url("./images/clouds.jpg");
  background-size: cover;
  padding: 70px 0;
  min-height: 350px;
}

.find-location {
  position: relative;
  margin-bottom: 70px; 
}

.find-location input[type="text"] {
  width: 100%;
  padding: 20px 50px 20px 20px;
  background: #1e202b;
  color: white; 
}

.find-location input[type="submit"] {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 40px; 
}

/* 
 * BOX - section b 
*/
.forecast-container {
  width: 100px;
  height: 150px;
  background: #323544;
  width: 100%;
  border-radius: 10px;
  margin-top: -150px;
  margin-bottom: 50px; 
}
 
/*
 * Footer Styles
 */
.site-footer {
  background: #262936;
  padding: 30px 0; 
}

.site-footer .colophon{
  width: 100%;
  color: white; 
}